<div class="login-wrapper">
    <div class="login-inner-left">
        <form action="#" class="form">
            <a href="#" title="My Theme" class="logo">
                <img src="./assets/images/login-logo.svg" alt="My Theme">
            </a>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <a href="#" title="Forgot Password" class="forgot-password">Forgot Password?</a>
            <button mat-flat-button routerLink="/dashboard" title="Log In" color="primary" class="btn-primary">Log
                In</button>
            <p class="sign-up">Don’t have an account? <a href="#" title="Sign up">Sign up</a></p>
        </form>
    </div>
    <div class="login-inner-right">
        <div>
            <h4>Join our community</h4>
            <p>Lorem ipsum dolor sit ipsum consequuntur voluptatem asperiores aliquam, ducimus magni sint!</p>
        </div>
    </div>
</div>